.main {
    background-color: #fff;
    color: black;
    width: 700px;
    height: 600px;
    border: 1px solid #d2d2d2;
    border-radius: 20px;
    position: relative;
    top: 70px;
    left: 400px;
    font-style: italic;

    .cardTop {
        background-color: black;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: 130px;
     }

     .image {
        color: black;
        position: absolute;
        top: 80px;
        left: 300px;
        border: 1px solid black;
        border-radius: 50%;
        background-color: #fff;
     }

     .info {
      padding-top: 20px;
      padding-left: 100px;
      padding-right: 100px;

      h3 {

      }
     }

     .break {
        border: 1px solid #d2d2d2;
     }

     .details {
        margin: 10px 30px;
        font-weight: 500;
     }
}